{% include "showcase/base.html" %}
{% load static %}
{% block content %}
<div class = "container">
          <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Фильтр
    </a>
    <div class="card-group">

        
            {% for product in products %}
            <div class="product">
            <p class="product-name">{{ product.name_product }}</p>
            {% if product.image_product %}
            <img src="{{ product.image_product.url }}" alt="" width="350px"></img>
            {{ product.description }} 
            <p class="product-price">{{ product.price }} руб.</p>  
            {% endif %}
             <hr>
             </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
